<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>欢 迎 订 单</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div th:replace="home :: nav ('order')"></div>

	<div class="container">
	
		<h2 class="page-header">订单列表</h2>

		<a class="btn btn-default" th:href="@{/order/new?type=OUT}">发料</a>
		<a class="btn btn-default" th:href="@{/order/new?type=IN}">归料</a>
		<a class="btn btn-default" th:href="@{/order/new?type=PLAN}">计划</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>编号</th>
					<th>经办人</th>
					<th>出租方</th>
					<th>承租方</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order : ${orders}">
					<td th:text="${#numbers.formatInteger(order.id,8)}"></td>
					<td th:text="${order.operator.name}"></td>
					<td th:text="${order.lessor}"></td>
					<td th:text="${order.lessee}"></td>
					<td><a th:href="@{/order/{id}/info(id=${order.id})}"> <span
							class="glyphicon glyphicon-info-sign"></span>
					</a> <a th:href="@{/order/{id}/delete(id=${order.id})}"
						class="delete-link"> <span class="glyphicon glyphicon-trash"></span></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>

	<div class="modal fade" id="alert-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close>">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">确认操作</h4>
				</div>
				<div class="modal-body">
					<p>确定要删除？</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" id="confirm">确定</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>