<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>
<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">钢管租赁管理系统</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/}">首页</a></li>
						<li class="active"><a th:href="@{/staff}">员工管理</a></li>
						<li><a th:href="@{/driver}">司机管理</a></li>
						<li><a th:href="@{/contact}">合同管理</a></li>
						<li><a th:href="@{/order}">订单管理</a></li>
						<li><a th:href="@{/purchase}">采购管理</a></li>
						<li><a th:href="@{/store}">仓库信息</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container">
		<a class="btn btn-default" th:href="@{/staff/new}">增加</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>编号</th>
					<th>姓名</th>
					<th>身份证号码</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="staff : ${staffs}">
					<td th:text="${staff.id}"></td>
					<td th:text="${staff.name}"></td>
					<td th:text="${staff.IDCard}"></td>
					<td><a th:href="@{/staff/{id}/info(id=${staff.id})}"><span class="glyphicon glyphicon-info-sign"></span></a> 
					<a	th:href="@{/staff/{id}/delete(id=${staff.id})}"
						class="delete-link"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>

	<div class="modal fade" id="alert-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">确认操作</h4>
				</div>
				<div class="modal-body">
					<p>确定要删除？</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" id="confirm">确定</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>