<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div th:replace="home :: nav ('contract')"></div>

	<div class="container">
		<h2 class="page-header">合同</h2>
		<form th:fragment="new (action, actionName)" th:action="@{${action}}"
			th:object="${contract}" method="post">
			<div class="row">
				<div class="col-sm-6 form-group" th:classappend="form-group">
					<label class="col-sm-3 control-label">租借方</label>
					<div class="col-sm-6">
						<select class="form-control" th:field="*{lessor}">
							<option th:each="company : ${companies}"
								th:text="${company.name}" th:value="${company.id}"></option>
						</select>
					</div>
				</div>
				<div class="col-sm-6 form-group" th:classappend="form-group">
					<label class="col-sm-3 control-label">承租方</label>
					<div class="col-sm-6">
						<select class="form-control" th:field="*{lessee}">
							<option th:each="company : ${companies}"
								th:text="${company.name}" th:value="${company.id}"></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary btn-block" name="addItems">增加项目</button>
					</div>
				</div>
			</div>
			<hr>
				<div class="row" th:each="row,rowStat : *{contractItems}" style="margin-bottom: 12px;">
					<div class="col-sm-4">
						<div class="form-group" th:classappend="form-group">
							<label class="col-sm-2 control-label">类型</label>
							<div class="col-sm-6">
								<select class="form-control category"
									th:field="*{contractItems[__${rowStat.index}__].product.category}">
									<option th:each="category : ${categories}"
										th:text="${category.name}" th:value="${category.id}"></option>

								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group" th:classappend="form-group">
							<label class="col-sm-2 control-label">产品</label>
							<div class="col-sm-6">
								<select class="form-control product"
									th:field="*{contractItems[__${rowStat.index}__].product}">
									<option th:each="product : ${products}"
										th:text="${product.name}" th:value="${product.id}"></option>

								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group" th:classappend="form-group">
							<label class="col-sm-2 control-label">价格</label>
							<div class="col-sm-6">
								<input class="form-control" type="text"
									th:field="*{contractItems[__${rowStat.index}__].price}">
							</div>
						</div>
					</div>

				</div>

			<div class="row">
				<div class="col-sm-1">
					<button type="submit" class="btn btn-primary btn-block" name="save"
						id="uploadinfo">录入</button>
				</div>
				<div class="col-sm-1" th:if="${actionName eq '修改'}">
					<a th:href="@{/contract/{id}/detail(id=${contract.id})}"
						class="btn btn-default btn-block">返回</a>
				</div>
				<div class="col-sm-1" th:unless="${actionName eq '修改'}">
					<a th:href="@{/contract}" class="btn btn-default btn-block">返回</a>
				</div>
			</div>
		</form>
	</div>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>
</html>