<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">钢管租赁管理系统</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/}">首页</a></li>
						<li><a th:href="@{/staff}">员工管理</a></li>
						<li><a th:href="@{/driver}">司机管理</a></li>
						<li><a th:href="@{/contact}">合同管理</a></li>
						<li><a th:href="@{/order}">订单管理</a></li>
						<li class="active"><a th:href="@{/purchase}">采购管理</a></li>
						<li><a th:href="@{/store}">仓库信息</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container">
		<h2 align="center">创建采购单</h2>
		<hr>
		<form th:action="@{/purchase/new}" th:object="${purchase}" method="post">
			<div class="row">
				<div class="col-sm-6 form-group"
					th:classappend="'col-sm-6 form-group'">
					<label class="col-sm-3 control-label">采购单号</label>
					<div class="col-sm-6">
						<input class="form-control" th:field="*{id}">
					</div>
				</div> 
				<div class="col-sm-6 form-group"
					th:classappend="'col-sm-6 form-group'">
					<label class="col-sm-3 control-label">采购日期</label>
					<div class="col-sm-6">
						<input class="form-control" th:field="*{createdTime}">
					</div>
				</div>
				<div class="col-sm-6 form-group"
					th:classappend="'col-sm-6 form-group'"
					>
					<label class="col-sm-3 control-label">采购人</label>
					<div class="col-sm-6">
						<input class="form-control" id="idcard"	th:field="*{buyer}">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-12">
						<button type="submit" class="btn btn-primary" name="addItems">增加</button>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class=" form-horizontal" th:each="row,rowStat : *{purchaseItems}">
					<div class="col-sm-4 form-horizontal">
						<div class="form-group" th:classappend="form-group"
							>
							<label class="col-sm-2 control-label">类型</label>
							<div class="col-sm-6">
								<input class="form-control" type="text"
									th:field="*{purchaseItems[__${rowStat.index}__].remark}"
									>
							</div>
						</div>
					</div>
					<div class="col-sm-4 form-horizontal">
						<div class="form-group" th:classappend="form-group"
							>
							<label class="col-sm-2 control-label">规格</label>
							<div class="col-sm-6">
								<input class="form-control" type="text"
									th:field="*{purchaseItems[__${rowStat.index}__].kind}"
									>
							</div>
						</div>
					</div>
					<div class="col-sm-4 form-horizontal">
						<div class="form-group" th:classappend="form-group"
							>
							<label class="col-sm-2 control-label">数量</label>
							<div class="col-sm-6">
								<input class="form-control" type="text"
									th:field="*{purchaseItems[__${rowStat.index}__].quantity}"
									id="quantity"
									>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-12">
					<button type="submit" class="btn btn-primary" name="save"
						id="uploadinfo">录入</button>
				</div>
			</div>
		</form>
	</div>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>